# Set parameters for matrix building algorithm


sampling_rank = Genus
start_node = Cyperaceae

use_list_file = True
path_to_list_file = cyp_genera.txt


# Specify each file to include in the search. The path to the file associated with each marker must be specified immediately after the marker name parameter

marker = ETS
file = ../cmtest/ETS_withnames_dupsconsensed.fasta

marker = ycf6-psbM
file = ../cmtest/ycf6-psbm_withnames_dupsconsensed.fasta

marker = ITS
file = ../cmtest/ITS_withnames_dupsconsensed.fasta

marker = ndhF
file = ../cmtest/ndhF_withnames_dupsconsensed.fasta

marker = psbB-psbH
file = ../cmtest/psbBH_withnames_dupsconsensed.fasta

marker = rbcL
file = ../cmtest/rbcL_withnames_dupsconsensed.fasta

marker = rps16
file = ../cmtest/rps16_withnames_dupsconsensed.fasta

marker = trnC-ycf6
file = ../cmtest/trnc-ycf6_withnames_dupsconsensed.fasta

marker = trnL
file = ../cmtest/trnL_withnames_dupsconsensed.fasta