# Set convertdbids=true to tell the script to switch dbids for names
convertdbids=true

# These options only matter if convertdbids = true, and only if phlawd is using a full mysql database
db=bioseqdb
user=root
password=steelheader

# This option only matters if phlawd is using a sqlite3 database
dbfilepath=/home/cody/Desktop/phlawd0.1/cyp_run_feb_2011/pln182.db


# Set trimnames=true to truncate taxon names after the specific epithet
trimnames=true

# The following options only matter if trimnames = true
removecfs=true
deleteindetspp=true

# this option will override removecfs=true, by deleting all records where the specific epithet is preceded by "cf" or "aff"
deletecfspp=false